name: API Automation CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # -------------------------
      # Checkout repo
      # -------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -------------------------
      # Setup JDK
      # -------------------------
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # -------------------------
      # Cache Maven dependencies
      # -------------------------
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2

      # -------------------------
      # Run tests
      # -------------------------
      - name: Run API Tests
        run: mvn -B clean test

      # -------------------------
      # Generate Allure report
      # -------------------------
      - name: Generate Allure Report
        run: mvn allure:report

      # -------------------------
      # Upload allure-results & allure-report as artifacts
      # -------------------------
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results/

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-html-report
          path: target/site/allure-maven-plugin/
